@{
    ViewBag.Title = "Contactos";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <span>  José López  | 2002-5645</span><br/>
    <span>Harold Soto | 2009-5654</span><br/>

    <header>
        <h3>Teléfonos</h3>
    </header>
    <p>
        <strong>
            José López:
        </strong>
            <span><a href="tel:+18492017122">849.201.7122</a> </span>
</p>
    <p>
        <strong>
            Harold Soto:
        </strong>
            <span><a href="tel:+1829607387">829.960.7387</a></span>
</p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <strong>José López</strong>
        <span><a href="mailto:jose.lopez.c@gmail.com">jose.lopez.c@gmail.com</a></span>
    </p>
    <p>
        <strong>Harold Soto</strong>
        <span><a href="mailto:haroldsoto30@gmail.com">haroldsoto30@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Santo Domingo, D.N.<br />
        Dominican Republic
    </p>
</section>