@{
    ViewBag.Title = "Cita registrada - VADS";
}

<div class="page-header">
    <h1>
        Hola! @ViewBag.Name, has seleccionado un horario para tu cita con el taller.
    </h1>
</div>
<h3>
    <span class="glyphicon glyphicon-envelope"></span> Te hemos enviado un correo con más detalles.
</h3>