@{
    ViewBag.Title = "MaintenanceSchedule";
}
<head>
    <link rel='stylesheet' type='text/css' href='~\Content\fullcalendar.css' />
    <script type='text/javascript' src='~\Scripts\jquery-1.8.2.js'></script>
    <script type='text/javascript' src='~\Scripts\fullcalendar.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                weekends: false
                
            })

        });
    </script>
</head>
<h2>MaintenanceSchedule</h2>
<body>
    <div id="calendar"></div>
</body>
