@{
    ViewBag.Title = "Administrar";
}

<h2>Administrar</h2>

<p>
    @Html.ActionLink("Administrar vehículos", "Index", "Vehicle")
</p>
<p>
    @Html.ActionLink("Administrar clientes", "Index", "Client")
</p>
<div>
    <iframe src="https://www.google.com/calendar/embed?src=vadsproject%40gmail.com&ctz=America/Santo_Domingo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>