<html>
    <head>
        <img src="http://i.imgur.com/WG1jNx8.png">
    </head>
    <body style="font-family: Segoe UI, Verdana, Helvetica, Sans-Serif; color: #333;
                                      font-size: 1.2em;">
        <br/>
        @RenderBody()

    </body>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Vehicle Automatic Diagnostics System</p>
                </div>
            </div>
    </footer>
</html>