@using Mvc.Mailer
Hola @ViewBag.Name,
<br/>
<br/>
Tu vehículo @ViewBag.Vehicle tiene un <font color="red">@ViewBag.Maintenance</font> pendiente.
<br/>
<br/>
Por favor <a href="">entra aquí</a> para que elijas un horario.