@using Mvc.Mailer
Hello @ViewBag.Name,
<br/>
<br/>
Your vehicle @ViewBag.Vehicle has 1 @ViewBag.Maintenance pending.
<br/>
<br/>
Please <a href="http://vads.azurewebsites.net/">Visit Us</a> to find more.